<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <main class="container" ng-app="CommentList" ng-controller="CommentsController">
            <section>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>
            <br/>
            <section class="comment">
                <h2>Add a Comment</h2>
                <form ng-submit="addTask(newTask)">
                    <div class="form-group">
                        <label for="task-stars">Stars</label>
                        <rating max="5"ng-model="newTask.stars">"</rating>

                    </div>
                    <div class="form-group">
                        <label for="task-title">Title</label>
                        <input type="text" id="task-title" class="form-control"
                               placeholder="title of comment" ng-model="newTask.title"/>
                    </div>
                    <div class="form-group">
                        <label for="task-name">Name</label>
                        <input type="text" id="task-name" class="form-control"
                               placeholder="Your Name" ng-model="newTask.name"/>
                    </div>
                    <div class="form-group">
                        <label for="task-name">Comment</label>
                        <input type="text" id="task-comment" class="form-control"
                               placeholder="Your Comment" ng-model="newTask.comment"/>
                    </div>          
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="inserting">Add Comment</button>
                        <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="inserting"/>
                    </div>
                </form>
            </section>

            <section class="comment">
                <h2>Comments</h2>
                <p>
                    <button class="btn btn-primary" ng-click="refreshComment()">Refresh</button>
                    <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="loading || updating"/>
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Stars</th>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Vote</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <p ng-if="!tasks || 0 == tasks.length">To be the first person to review this</p>

                    <tbody>
                    <tr ng-repeat="task in tasks | orderBy : sortCol : reverse = true">
                        <td>
                            <rating max="5" ng-model="task.stars" ng-change="updateTask(task)"
                                    ng-class="{done: task.done}" readonly="task.done"></rating>

                        </td>
                        <td ng-class="{done: task.done}">{{task.title}}
                        </td>
                        <td ng-class="{done: task.done}">{{task.name}}
                        </td>
                        <td ng-class="{done: task.done}">{{task.comment}}
                        </td>
                        <td>
                            {{task.votes || 0}}
                            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementVotes(task, 1)"></span>
                            <span class="glyphicon glyphicon-thumbs-down" ng-if="task.votes > 0" ng-click="incrementVotes(task, -1)"></span>

                        </td>
                        <td>
                            <input type="checkbox" ng-model="task.done" ng-change="updateTask(task)"/>
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </section>

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>